* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 10px;
  font-size: 175%;
  text-align: center;
}

.dish {
  background-color: lightgray;
  float: left;
  border: 1px solid black;
  margin: 20px;
}

.description {
  padding: 15px;
  clear: right;
}

.section-title {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 150px;
  float: right;
  text-align: center;
  font-size: 125%;
}

.row {
  width: 100%;
}

/* Large devices */
@media (min-width:  992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Small devices */
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}

/* Set colors for each dish */
#chicken {
  background-color: burlywood;
}
#beef {
  background-color: palegreen;
}
#sushi {
  background-color: peachpuff;
}